body {
  margin-top: 20px;
 
  height: auto;
}

/* Image box */
.slick-slide.image-box {
  margin-bottom: 20px;
}

.image-box .body {
  padding: 15px;
}

.image-box .body h3 {
  margin-top: 0;
}

.image-box .body p:last-child {
  margin-bottom: 0;
}

.image-box.style-4 {
  border: none;
}

.image-box.style-3-b {
  display: block;
  margin-bottom: 40px;
}

.image-box.style-3-b .body {
  padding: 10px 0;
}

/* Shadow effects */
.image-box--shadowed {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease-in-out;
}

.image-box--shadowed:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

/* Media queries */
@media (min-width: 768px) {
  .image-box.style-3-b .body {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .image-box.style-4 {
    margin-bottom: 30px;
  }
}

.white-bg {
  background-color: #ffffff;
}

/* Social icons block */
.social-links {
  list-style: none;
  font-size: 0;
  margin: 20px 0;
  padding-left: 0;
}

.social-links li {
  display: inline-block;
  margin: 0 2px 2px 0;
}

.social-links li a {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  font-size: 18px;
  border: 1px solid #e7e7e7;
  color: #cdcdcd;
  border-radius: 4px;
}

.social-links li a i {
  line-height: 40px;
}

.social-links li a:hover {
  background-color: transparent;
}

/* Social links animation */
.social-links.animated-effect-1 li a {
  transition: color 0.4s;
  position: relative;
  z-index: 1;
}

.social-links.animated-effect-1 li a:hover {
  color: #ffffff !important;
  transition: color 0.3s;
}

.social-links.animated-effect-1 li a:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
  transform: scale(1.4);
  opacity: 0;
}

.social-links.animated-effect-1 li a:hover:after {
  transform: scale(1);
  opacity: 1;
  transition: transform 0s, opacity 0.3s, background-color 0.3s;
}

.social-links.square li a {
  border-radius: 0;
}

.social-links.circle li a {
  border-radius: 100%;
}

/* Specific social links hover effects */
.social-links.animated-effect-1 li a:hover,
.social-links:not(.animated-effect-1) li a:hover,
.colored.social-links li a,
.social-links.animated-effect-1 li a:after,
.btn {
  color: #ffffff;
  border-color: currentColor;
}

.social-links.default li a {
  color: #ffffff;
}

.social-links.default li a:hover {
  background-color: #ffffff;
  color: #777777;
}

.dark .social-links li a,
.dark.social-links li a {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.dark.social-links li a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
}

.colored .social-links li a {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.01);
  color: #ffffff;
}

.footer-content .social-links li {
  margin: 0 5px 5px 0;
}

.footer-content .social-links li a {
  color: #777777;
  background-color: transparent;
  border-color: #777777;
}

.footer-content .social-links li a:hover {
  color: #ffffff;
  background-color: #777777;
  border-color: #777777;
}

.text-white .social-links li a {
  color: #ffffff;
  border-color: #ffffff;
}

.text-white .social-links li a:hover,
.text-white .social-links li a:focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}

.social-links.small li a {
  width: 30px;
  height: 30px;
  font-size: 14px;
}

.social-links.small li a i {
  line-height: 29px;
}

.social-links.large li a {
  width: 60px;
  height: 60px;
  font-size: 24px;
}

.social-links.large li a i {
  line-height: 60px;
}

.social-links .dropdown > button {
  padding: 1px 15px 0;
  font-size: 16px;
  color: #999999;
  background-color: transparent;
  box-shadow: none !important;
}

.social-links .dropdown-menu {
  z-index: 103;
  padding: 5px;
  min-width: 270px;
  margin-top: 6px;
  font-size: 0;
  background-color: #f2f2f2;
  border: 1px solid #D0D0D0;
  border-top: none;
}

.social-links .dropdown-menu li a {
  padding: 0;
  line-height: 30px;
  color: #ffffff;
}

/* Images and Overlays */
.overlay-container {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
}

.overlay-bottom,
.overlay-top {
  position: absolute;
  padding: 15px;
  left: 0;
  right: 0;
  background-color: rgba(30, 30, 30, 0.5);
  overflow: hidden;
  opacity: 0;
  transition: all ease-in-out 0.25s;
  height: 0;
  color: #ffffff;
}

.overlay-to-top {
  bottom: -30px;
  padding: 10px;
}

.overlay-top {
  top: 0;
}

.overlay-visible .overlay-bottom,
.overlay-visible .overlay-top {
  opacity: 1;
  height: auto !important;
  padding-bottom: 20px;
}

.overlay-visible.overlay-container:hover .overlay-bottom:not(.links),
.overlay-visible.overlay-container:hover .overlay-top {
  opacity: 0.5;
}

.overlay-container:hover .overlay-top,
.overlay-container:hover .overlay-bottom {
  height: 50%;
  opacity: 1;
}

.overlay-container:hover .overlay-to-top {
  opacity: 1;
  bottom: 0;
}

.overlay-link {
  position: absolute;
  top: 0;
  padding: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(30, 30, 30, 0.5);
  overflow: hidden;
  opacity: 0;
  transition: all ease-in-out 0.25s;
  color: #ffffff;
}

.overlay-link i {
  transition: all 0.2s ease-in-out;
}


