{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item grey" id="blog-timeline">
        <div class="container">
            <div class="row">
                
                <!-- BLOG POSTS - START -->
                <div class="col-sm-8">
                  <h2>Our Blog</h2>
                    
                    
                      <!-- BLOG POST 1 - START -->
                        <div class="blog-post">
                          
                            <h3><a href="#blogitem.html">{{title}}</a></h3>
                            <div class="date-xs">{{ post.date_posted|format_date }}</div>
                            <p><img class="img-responsive pull-right" src="{{ url_for('static', filename='post_pics/' + post.image) if post.image else url_for('static', filename='post_pics/default.jpg') }}" alt="">{{post.content}}</p>
                          
                        </div>
                        <!-- BLOG POST 1 - END -->
                        
                        
                   
                    
                    <div class="text-center">
                      <a href="##" class="btn btn-danger btn-lg">Load More</a>
                    </div>
                    
                </div>
                <!-- BLOG POSTS - END -->
                
                <!-- SIDEBAR - START -->
                <div class="col-sm-4">
                  <div class="sidebar">
                        
                        <h3>Recent Posts</h3>
                        <div class="box posts">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-chevron-right"></i><a href="#">Introducing WordPress 4.0 “Benny”</a><div>27/02/2014</div></li>
                                <li><i class="fa fa-chevron-right"></i><a href="#">Nature Center: Earth Day Festival</a><div>18/02/2014</div></li>
                                <li><i class="fa fa-chevron-right"></i><a href="#">Two New Stores Set to Open in Downtown</a><div>05/02/2014</div></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <!-- SIDEBAR - END -->
            </div>
        </div>
    </section>

    {% endblock %}