{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <section class="bg-light py-2 mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="display-5 font-weight-bold mb-5">Latest Projects</h2>
        </div>
      </div>
      <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-xl-4">
          <div class="image-box image-box--shadowed white-bg style-2 mb-4">
            <div class="overlay-container" style="height: 150px; width: 100%;">
              <img src="{{ url_for('static', filename='post_pics/' + post.image) if post.image else url_for('static', filename='post_pics/default.jpg') }}" class="card-img-top" alt="{{ post.title }}">
              <a href="" class="overlay-link"></a>
            </div>
            <div class="body">
              <h5 class="font-weight-bold my-2">{{ post.title }}</h5>
              <p class="small">{{ post.date_posted|format_date }}</p>
              <div class="row d-flex align-items-center">
                <div class="col-6">
                  <ul class="social-links small circle">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
                <div class="col-6 text-right">
                  <a href="{{ url_for('main.post', post_id=post.id) }}" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
